/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/composer/
/vendor/doctrine/
/vendor/friendsofsymfony/rest-bundle/
/vendor/friendsofsymfony/user-bundle/
/vendor/hwi/
/vendor/incenteev/
/vendor/jdorn/
/vendor/jms/
/vendor/kriswallsmith/
/vendor/monolog/
/vendor/phpcollection/
/vendor/phpoption/
/vendor/psr/
/vendor/ptachoire/
/vendor/raulfraile/
/vendor/sensio/
/vendor/sensiolabs/
/vendor/swiftmailer/
/vendor/symfony/
/vendor/twig/
/vendor/willdurand/
/vendor/autoload.php
/app/config/parameters.yml