{% extends "VideonaBackendUserManagementBundle::layout.html.twig" %}

{% block stylesheets %}
    <!-- Customize social buttons -->
    <style type="text/css">
        #customBtnLogout {
            display: inline-block;
            background: #55acee;
            color: white;
            width: 100px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <div>
        <script>
            function logout() {
                // Call to /logout route
                document.location = "{{ path("fos_user_security_logout") }}";
            }
        </script>
    </div>
    <button type="button" onclick="logout();">Logout</button> 
{% endblock fos_user_content %}