parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: videona
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    remember_me_key: videona_vlf_secret_key
    social_networks: [facebook, google, twitter]
    facebook_id: '1530256123873085'
    facebook_key: 2dc3d24e943e23b8c29d32100f904254
    google_id: 107134464495-ruserbd6t4lb47u8qvqto8n3ov3fla2v.apps.googleusercontent.com
    google_key: LlfKSLK1AecDcuf3U0IIDViv
    twitter_id: kmyjf6sgSRlcPLz1KcCCt7sSV
    twitter_key: XSYlszDutMdkf1TxfFzZinEPmXO347NHTenN8Zs6riWDjjCWAi
