{% extends "::base.html.twig" %}

{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/videonafrontendhome/css/home.css') }}" />
    {% endblock %}
{% endblock %}

{% block title 'Home Bundle' %}

{% block body %}
    
    {% block content %}{% endblock %}
    
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
            
{% endblock %}